*{
    box-sizing: border-box;
}
html{
    font-family:'Courier New', Courier, monospace;
}
body{
    margin: 0;
}
header{
    margin-top: 90px;
    background:#023d6d;
    color: white;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    width: 70%;
    margin-left: 310px;
    border-radius: 30px;
}

#calculator  input{
    font: inherit;
    font-size: 3rem;
    width: 320px;
    padding: 10px;
    border: 3px solid blue;
    margin: auto;
    display: block;
    color:#023d6d;
    text-align: center;
    margin-top: 50px;
}

#cacalculator input:focus{
    outline: none;
}
#calculator button{
    font: inherit;
    background:#023d6d;
    color: white;
    border:1px solid#023d6d;
    padding: 1rem;
    cursor: pointer;
}
#calculator button:focus{
    outline: none;
}
#calculator button:hover,
#calculator button:active{
    background: #023d6d;
    border-color:#023d6d
}

#actions button{
    width: 4rem;
}
#actions{
    margin-top: 1rem;
    text-align: center;
    margin-top: 50px;
}
#res{
  width: 270px;
  padding: 8px;
  text-align: center;
  margin-top: 5px;
  border: 3px solid #023d6d;
  margin: 0;
  margin-left: 830px;
  margin-top: 70px;
}